.our-special .container {
  margin-top: var(--top-margin-top);
  margin-bottom: var(--bottom-marfint-bottom);
  display: flex;
  justify-content: center;
  gap: 20px;
}
.our-special .container .box {
  width: 300px;
  height: 500px;
  text-align: center;
}
.our-special .container .box img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
.our-special .container .box h3 {
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.our-special .container .box p {
  color: var(--main-p-color);
  margin-bottom: 30px;
}
.our-special .container .box span {
  color: var(--oring-color);
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 960px) {
  .our-special .container {
    display: flex;
    flex-wrap: nowrap;
  }
  .our-special .container .box {
  }
}
