<div class="our-special">
  <div class="title">
    <div class="image">
      <img src="/bg-title.png" alt="" />
      <h1>OUR SPECIAL DISHES</h1>
    </div>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
      cupiditate temporibus deserunt qui beatae omnis.
    </p>
  </div>
  <div class="container">
    @for (slide of slides; track $index) {
      <div class="box">
        <img [src]="slide.img" alt="" />
        <h3>{{ slide.title }}</h3>
        <p>{{ slide.info }}</p>
        <span>{{ slide.price }}</span>
      </div>
    }
  </div>
</div>
