<div class="our-special">
    <div class="title">
        <div class="image">
            <img src="/bg-title.png" alt="">
            <h1>OUR SPECIAL DISHES</h1>
        </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate cupiditate temporibus deserunt qui beatae omnis.</p>
    </div>
    <div class="container">
        <div class="box">
            <img src="/special.jpg" alt="">
            <h3>PASTA</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est.</p>
            <span>$11.30</span>
        </div>
        <div class="box">
            <img src="/special.jpg" alt="">
            <h3>PASTA</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est.</p>
            <span>$11.30</span>
        </div>
        <div class="box">
            <img src="/special.jpg" alt="">
            <h3>PASTA</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est.</p>
            <span>$11.30</span>
        </div>
        
    </div>
    
</div>
