<div class="container">
    <div class="header">
        <div class="logo">
            <img src="/logo.png" alt="">
        </div>
        <div class="navbar">
            <span class="icon">
                <span class="rosp"></span>
                <span class="rosp"></span>
                <span class="rosp"></span>
            </span>
            <ul>
                <li><a href="" class="title">HOME</a></li>
                <li><a href="">ABOUTUS</a></li>
                <li><a href="">CHEFS</a></li>
                <li><a href="">MENU</a></li>
                <li><a href="">GALLERY</a></li>
                <li><a href="">CONTACTS</a></li>
            </ul>
        </div>
    </div>
</div>
<app-about/>
