<!-- ====== Contacts ====== -->
<footer id="contacts">
  <div class="title-center">
    <h2>Contacts</h2>
  </div>
  <!--/.title-center-->
  <div class="wrapper flex-row wrapp-contacts">
    <div>
      <h3><i class="fa-solid fa-location-dot"></i>Location</h3>
      <p>3334 32 St NECalgary, AB T1Y 6B9</p>
    </div>
    <div>
      <h3><i class="fa-solid fa-phone-flip"></i>Phone</h3>
      <p><a class="phone" href="#">403 680 4050</a></p>
    </div>
    <div>
      <h3><i class="fa-solid fa-envelope"></i>Email</h3>
      <p>royalbake2025&#64;gmail.com</p>
    </div>
    <div>
      <ul class="footer-social">
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
      </ul>
      <!--/.footer-social-->
    </div>
  </div>
  <!--/.wrapp-contacts-->
  <div class="wrapp-map">
    <iframe
src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5012.838558392824!2d-113.99232900819999!3d51.08226926876096!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x537164c1fa5a2593%3A0x379e8158f7e944c7!2s3334%2032%20St%20NE%2C%20Calgary%2C%20AB%20T1Y%206B9%2C%20Canada!5e0!3m2!1sen!2sde!4v1762674596420!5m2!1sen!2sde"       height="350"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <!--/.wrapp-map-->
  <p class="copyright">
    Copyright &copy; All rights reserved.
    <a href="#">Terms of use and Privacy Policy.</a>
  </p>
</footer>
<!-- ====== End Contacts ====== -->
