<!-- ====== Contacts ====== -->
<footer id="contacts">
  <div class="title-center">
    <h2>Contacts</h2>
  </div>
  <!--/.title-center-->
  <div class="wrapper flex-row wrapp-contacts">
    <div>
      <h3><i class="fa-solid fa-location-dot"></i>Location</h3>
      <p>2900 Lapeer Rd, Port Hurons</p>
    </div>
    <div>
      <h3><i class="fa-solid fa-phone-flip"></i>Phone</h3>
      <p><a class="phone" href="#">800 478 42 51</a></p>
    </div>
    <div>
      <h3><i class="fa-solid fa-envelope"></i>Email</h3>
      <p>info&#64;restfood.com</p>
    </div>
    <div>
      <ul class="footer-social">
        <li>
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
      </ul>
      <!--/.footer-social-->
    </div>
  </div>
  <!--/.wrapp-contacts-->
  <div class="wrapp-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2918.8840785320544!2d-82.49493468465671!3d42.980715479150156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88259e93ea837f03%3A0x9eaf24e841d574ed!2zNDIzOSBMYXBlZXIgUmQsIFBvcnQgSHVyb24sIE1JIDQ4MDYwLCDQodCo0JA!5e0!3m2!1sru!2sua!4v1640107647193!5m2!1sru!2sua"
      height="350"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <!--/.wrapp-map-->
  <p class="copyright">
    Copyright &copy; All rights reserved.
    <a href="#">Terms of use and Privacy Policy.</a>
  </p>
</footer>
<!-- ====== End Contacts ====== -->
