<!-- ====== Header ====== -->
<header id="header">
  <div class="wrapper flex-row">
    <a id="logo" href="#home"><img src="images/logo.png" alt="" /></a>
    <a id="openmenu" href="#"><i class="fa-solid fa-bars"></i></a>
    <nav id="nav">
      <a id="closemenu" href="#"><i class="fa-solid fa-xmark"></i></a>
      <ul class="menu">
        <li><a href="#home">Home</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#chefs">Chefs</a></li>
        <li><a href="#menu">Menu</a></li>
        <li><a href="#gallery">Gallery</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <!--/#nav-->
  </div>
  <!--/.wrapper-->
</header>
<!-- ======End Header ====== -->
