<!-- ====== Gallery ====== -->
<section id="gallery">
  <div class="title-center">
    <h2>Gallery</h2>
  </div>
  <!--/.title-center-->
  <div class="wrapper flex-row gallery-item zoom-gallery">
    <a href="images/gallery-1.jpg"><img src="images/gallery-1.jpg" alt="" /></a>
    <a href="images/gallery-2.jpg"><img src="images/gallery-2.jpg" alt="" /></a>
    <a href="images/gallery-3.jpg"><img src="images/gallery-3.jpg" alt="" /></a>
    <a href="images/gallery-4.jpg"><img src="images/gallery-4.jpg" alt="" /></a>
    <a href="images/gallery-5.jpg"><img src="images/gallery-5.jpg" alt="" /></a>
    <a href="images/gallery-6.jpg"><img src="images/gallery-6.jpg" alt="" /></a>
  </div>
  <!--/.gallery-item-->
</section>
<!-- ====== End Gallery ====== -->
