<div class="form">
    <div  class="title">
        <div class="image">
            <img src="/bg-title.png" alt="">
            <h1>BOOK A TABLE</h1>
        </div>
    </div>
    <div class="container">
        <form action="">
            <div class="name">
                <div >
                    <p>NAME</p>
                    <input type="text" placeholder="Name">
                    <p>PHONE</p>
                    <input type="number" placeholder="Phone">
                    <p>DATE</p>
                    <input type="text" placeholder="mm-dd-yy">
                </div>
                <div >
                    <p>LAST NAME</p>
                    <input type="text" placeholder="Last Name">
                    <p>EMAIL</p>
                    <input type="email" placeholder="Email">
                    <p>TIME</p>
                    <input type="datetime" placeholder="12:00 AM">
                </div>
            </div>  
            <button>B O O K A T A B L E</button>
        </form>
        <div class="box">
            <h1>OPENING HOURS</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et, inventore hic nulla, provident laudantium voluptate ipsa eligendi commodi mollitia vero animi, repudiandae quidem minima est sint sapiente quas iure deleniti.</p>
            <div>
                <p>Monday - Friday</p>
                <p>8AM - 6PM</p>
            </div>
            <div>
                <p>Saturday</p>
                <p>9AM - 5PM </p>
            </div>
            <div>
                <p>Sunday</p>
                <p>9AM - 4PM</p>
            </div>
        </div>
    </div>
</div>
