<!-- ====== Header Image ====== -->
<div
  id="home"
  class="flex-row"
  style="background-image: url('images/bg-header.png')"
>
  <div class="wrapper home-content">
    <div>
      <h1>Best quality food</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias
        provident laborum, recusandae delectus corrupti reprehenderit error
        distinctio eligendi qui consequuntur officia.
      </p>
      <a class="btn booking-scroll" href="#booking-table">book a table</a>
    </div>
  </div>
  <!--/.home-content-->
</div>
<!-- ====== End Header Image ====== -->
