<!-- ====== Chefs ====== -->
<section id="chefs">
  <div class="title-center">
    <h2>Our best chef</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, labore
      quasi temporibus consectetur suscipit sunt tenetur, veniam neque
      distinctio fugit in sint natus deserunt hic eaque dolores.
    </p>
  </div>
  <!--/.title-center-->
  <div class="wrapper flex-row">
    <div class="chefs-item">
      <img src="images/chef-1.jpg" alt="" />
      <div class="about-chefs">
        <h3>Richard Nauz</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
    <div class="chefs-item">
      <img src="images/chef-2.jpg" alt="" />
      <div class="about-chefs">
        <h3>Olivia Grosh</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
    <div class="chefs-item">
      <img src="images/chef-3.jpg" alt="" />
      <div class="about-chefs">
        <h3>Jeremy White</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
    <div class="chefs-item">
      <img src="images/chef-4.jpg" alt="" />
      <div class="about-chefs">
        <h3>Howard Holmes</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
  </div>
  <!--/.wrapper-->
</section>
<!-- ====== End Chefs ====== -->
