<!-- ====== Chefs ====== -->
<section id="chefs">
  <div class="title-center">
    <h2>Meet chef Abu-Abdo!</h2>
    <p>
      With over three decades of culinary expertise, Abu-Abdo is a seasoned
      master in the art of baking and gourmet food preparation. Known for his
      passion, precision, and creativity in the kitchen, Abu-Abdo has built a
      distinguished career blending traditional techniques with innovative
      flair. From artisan breads and delicate pastries to full-scale menu
      development, their work reflects a deep commitment to quality, flavor, and
      culinary excellence.
    </p>
    <p>
      Throughout a career spanning more than 30 years, Abu-Abdo has led more
      than 3 restaurants, bakery kitchens, trained aspiring chefs, and curated
      unforgettable dining experiences. His extensive knowledge of ingredients,
      textures, and flavor profiles makes him not just a chef—but a true
      craftsman dedicated to the culinary arts. Whether behind the scenes or in
      front of an audience, Abu-Abdo brings heart, heritage, and a touch of
      perfection to every dish.
    </p>
  </div>
  <!--/.title-center-->
  <div class="wrapper flex-row">
    <div class="chefs-item">
      <img src="images/chef-1.jpg" alt="" />
      <div class="about-chefs">
        <h3>Richard Nauz</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
    <div class="chefs-item">
      <img src="images/chef-2.jpg" alt="" />
      <div class="about-chefs">
        <h3>Olivia Grosh</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
    <div class="chefs-item">
      <img src="images/chef-3.jpg" alt="" />
      <div class="about-chefs">
        <h3>Jeremy White</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
    <div class="chefs-item">
      <img src="images/chef-4.jpg" alt="" />
      <div class="about-chefs">
        <h3>Howard Holmes</h3>
        <p>food chef</p>
        <ul class="chef-social">
          <li>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
          </li>
        </ul>
        <!--/.chef-social-->
      </div>
      <!--/.about-chefs-->
    </div>
    <!--/.chefs-item-->
  </div>
  <!--/.wrapper-->
</section>
<!-- ====== End Chefs ====== -->
