<!-- ====== About Us ====== -->
<section id="about-us" style="background-image: url('images/bg-pattern.jpg')">
  <div class="wrapper flex-row">
    <div class="about-img">
      <img src="images/about-big.jpg" alt="" />
      <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"
        ><i class="fa-solid fa-play"></i
      ></a>
    </div>
    <!--/.about-img-->
    <div class="about-content">
      <h2>Good food for your all day good mood</h2>
      <p>
        At our bakery, every bite is crafted to bring comfort, joy, and flavor
        to your day. Whether you're starting your morning with freshly baked
        manakish, grabbing a warm bite for lunch, or treating yourself to a
        savory pastry in the evening, we’re here to make every moment a little
        more delicious. We believe that good food doesn't just fill you up—it
        lifts your spirits, connects you to tradition, and turns an ordinary day
        into something special. So come hungry, leave happy, and let us take
        care of the flavor.
      </p>

      <div class="advantage flex-row">
        <div>
          <img src="images/advantage-1.png" alt="" />
          <p>Experienced chefs</p>
        </div>
        <div>
          <img src="images/advantage-2.png" alt="" />
          <p>Original recipes</p>
        </div>
        <div>
          <img src="images/advantage-3.png" alt="" />
          <p>Fresh ingredients</p>
        </div>
      </div>
      <!--/.advantage-->
    </div>
    <!--/.about-content-->
  </div>
  <!--/.wrapper-->
</section>
<!-- ====== End About Us ====== -->
