<!-- ====== About Us ====== -->
<section id="about-us" style="background-image: url('images/bg-pattern.jpg')">
  <div class="wrapper flex-row">
    <div class="about-img">
      <img src="images/about-big.jpg" alt="" />
      <a class="popup-youtube" href="http://www.youtube.com/watch?v=0O2aH4XLbto"
        ><i class="fa-solid fa-play"></i
      ></a>
    </div>
    <!--/.about-img-->
    <div class="about-content">
      <h2>Good food for your all day good mood</h2>
      <p>
        Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Itaque dolore
        nisi ipsa neque? Dolorem incidunt fugiat temporibus animi nobis, vero
        expedita voluptate dignissimos officiis quis pariatur earum voluptas
        quia sed.
      </p>
      <p>
        Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Itaque dolore
        nisi ipsa neque? Dolorem incidunt fugiat temporibus animi nobis, vero
        expedita voluptate dignissimos officiis quis pariatur earum voluptas
        quia sed.
      </p>
      <p>
        Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Itaque dolore
        nisi ipsa neque? Dolorem incidunt fugiat temporibus animi nobis, vero
        expedita voluptate dignissimos officiis quis pariatur earum voluptas
        quia sed.
      </p>
      <div class="advantage flex-row">
        <div>
          <img src="images/advantage-1.png" alt="" />
          <p>Experienced chefs</p>
        </div>
        <div>
          <img src="images/advantage-2.png" alt="" />
          <p>Original recipes</p>
        </div>
        <div>
          <img src="images/advantage-3.png" alt="" />
          <p>Fresh ingredients</p>
        </div>
      </div>
      <!--/.advantage-->
    </div>
    <!--/.about-content-->
  </div>
  <!--/.wrapper-->
</section>
<!-- ====== End About Us ====== -->
