<!-- ====== Special Dishes ====== -->
<section id="special-dishes">
  <div class="title-center">
    <h2>Our Special Dishes</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, labore
      quasi temporibus consectetur suscipit sunt tenetur, veniam neque
      distinctio fugit in sint natus deserunt hic eaque dolores.
    </p>
  </div>
  <!--/.title-center-->
  <div class="wrapper">
    <div class="owl-carousel owl-theme carousel-special-dishes">
      <div class="item">
        <img src="images/special-dishes-1.png" alt="" />
        <div class="special-dishes-content">
          <h3>Burger</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
          <p class="price">$8.60</p>
        </div>
      </div>
      <div class="item">
        <img src="images/special-dishes-3.jpg" alt="" />
        <div class="special-dishes-content">
          <h3>Beef Burger Meal</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
          <p class="price">$12.99</p>
        </div>
      </div>
      <div class="item">
        <img src="images/special-dishes-4.jpg" alt="" />
        <div class="special-dishes-content">
          <h3>Double Cheese Pizza</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
          <p class="price">$15.00</p>
        </div>
      </div>
      <div class="item">
        <img src="images/special-dishes-5.png" alt="" />
        <div class="special-dishes-content">
          <h3>Ceaser Salad</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
          <p class="price">$10.00</p>
        </div>
      </div>
      <div class="item">
        <img src="images/special-dishes-2.jpg" alt="" />
        <div class="special-dishes-content">
          <h3>Pasta</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
          <p class="price">$11.30</p>
        </div>
      </div>
    </div>
    <!--/.owl-carousel-->
  </div>
  <!--/.wrapper-->
</section>
<!-- ====== End Special Dishes ====== -->
