@use './theme/title.scss';
@use './theme/container.scss';
// import Swiper styles
// @use 'swiper/css';
@use 'swiper/swiper-bundle.min.css';

:root {
  --main-p-color: #b8b8b8;
  --oring-color: #ffcc33;
  --top-margin-top: 100px;
  --bottom-marfint-bottom: 100px;
  --container-padding: 1rem;
  --container-max-width-sm: 750px;
  --container-max-width-md: 970px;
  --container-max-width-lg: 1170px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}
