<!-- ====== Menu ====== -->
<section id="menu" style="background-image: url('images/bg-pattern.jpg')">
  <div class="title-center">
    <h2>Our Menu</h2>
  </div>
  <!--/.title-center-->
  <div class="wrapper flex-row wrapp-menu">
    <ul class="list-menu">
      <li><a href="#">All</a></li>
      @for (menu of menus; track menu.label) {
      <li>
        <a href="#"> {{ menu.label }} </a>
      </li>

      }
    </ul>
  </div>
  <!--/.wrapp-menu-->
  <div class="wrapper wrapp-menu-item">
    @for (menu of menus; track menu.label) {
    <!--/.menu-item-->
    <div class="menu-item flex-row zoom-gallery">
      @for (item of menu.items; track item.label) {
      <div class="single-menu-item">
        <a [href]="item.picture || 'images/product-8.jpg'"
          ><img [src]="item.picture || 'images/product-8.jpg'" alt=""
        /></a>
        <div class="single-menu-item-content">
          <h3>{{ item.label }}</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
          <p class="price">{{item.price}}</p>
        </div>
      </div>
      }
    </div>
    }
    @for (menu of menus; track menu.label) {
      @for (item of menu.items; track item.label) {
          <!--/.menu-item-->
          <div class="menu-item flex-row zoom-gallery">
        <div class="single-menu-item">
          <a [href]="item.picture || 'images/product-8.jpg'"
          ><img [src]="item.picture || 'images/product-8.jpg'" alt=""
        /></a>
          <div class="single-menu-item-content">
            <h3>{{ item.label }}</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit.</p>
            <p class="price">{{item.price}}</p>
          </div>
        </div>
      </div>
        }
    }

    <!--/.menu-item-->
  </div>
  <!--/.wrapp-menu-item-->
</section>
<!-- ====== End Menu ====== -->
