.aboutus{
    margin-top: var(--top-margin-top);
    margin-bottom: var(--bottom-marfint-bottom);
    background-image: url(/bg-pattern.jpg);
}
.aboutus .container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.aboutus .container .imag {
    margin-top: 50px;
}
.aboutus .container .imag img{
    width: 500px;
    height: 600px;
}
.aboutus .container .box{
    
}
.aboutus .container .box .info .decription p{
    color:var(--main-p-color);
    margin: 40px 0;
}
.aboutus .container .box .info .image{
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.aboutus .container .box .info .image div h4{
    color:white;
    font-weight: bold;
}
@media (max-width:1200px){
    .aboutus .container{
        flex-direction: column-reverse;
    }
    .aboutus .container .imag img{
        width: 100%;
        height: 100%;
    }
}
@media (max-width:767px){
    .aboutus .container .box .info .image{
        flex-direction: column;
    }
}