<div class="aboutus">
    <div class="container">
        <div class="imag">
            <img src="/about-big.jpg" alt="">
        </div>
        <div class="box">
            <div class="title">
                <div class="image">
                    <img src="/bg-title.png" alt="">
                    <h1>GOOD FOOD FOR YOUR ALL <br>DAY GOOD MOOD</h1>
                </div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate cupiditate temporibus deserunt qui beatae omnis.</p>
            </div>
            <div class="info">
                <div class="decription">
                    <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Itaque dolore nisi ipsa neque? Dolorem incidunt fugiat temporibus animi nobis, vero expedita voluptate dignissimos officiis quis pariatur earum voluptas quia sed.</p>
                    <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Itaque dolore nisi ipsa neque? Dolorem incidunt fugiat temporibus animi nobis, vero expedita voluptate dignissimos officiis quis pariatur earum voluptas quia sed.</p>
                    <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Itaque dolore nisi ipsa neque? Dolorem incidunt fugiat temporibus animi nobis, vero expedita voluptate dignissimos officiis quis pariatur earum voluptas quia sed.</p>
                </div>
                <div class="image">
                    <div>
                        <img src="/advantage-1.png" alt="">
                        <h4>EXPERIENCED CHEFS</h4>
                    </div>
                    <div>
                        <img src="/advantage-2.png" alt="">
                        <h4>ORIGINAL RECIPES</h4>
                    </div>
                    <div>
                        <img src="/advantage-3.png" alt="">
                        <h4>FRESH INGREDIENTS</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>